
 h1{
        color:blue;
        font-size: 100px;
        font-style: italic;
        font-family:sans-serif;
    }
  
p{
    text-align: center ;
}

#header-2{
    text-align: center;
    color: rgb(255, 0, 221);
   
}
.header-3{
    text-align: center;
    color:blue;
}
/* 
.hd{
    color:green;
} */